<ion-pane>
    <ion-header-bar class="">

        <h1 class="title" style="font-size: large"><span class="icon ion-heart royal"></span>
            <span class="icon ion-heart royal"></span> Love Jeannie
            <span class="icon ion-heart royal"></span>
            <span class="icon ion-heart royal"></span></h1>

    </ion-header-bar>

    <ion-content>

            <div class="list">

                <label class="item item-input big bold">
                    <span class="input-label">List Price ($)</span>
                    <input ng-show="!dc.advanced" id="price-amount" ng-change="dc.calculateDiscount()" ng-model="dc.inputPriceAsIs" type="number">
                    <input ng-show="dc.advanced" id="price-amount-adv" placeholder="Expression allowed like X+Y or X*3" ng-change="dc.calculateDiscount()" ng-model="dc.inputPriceAsIs" type="text">
                </label>

                <div class="item range big bold">
                    Discount
                    <input ng-model="dc.discountPercent" ng-change="dc.calculateDiscount()" type="range" name="discount"
                           min="0"
                           max="90"
                           step="5">
                    <span class="royal bold big"> {{dc.tipPercent}} % </span>
                </div>

                <div ng-if="dc.advanced" class="item range big bold">
                    Add Disc
                    <input ng-model="dc.discountPercentAdditional" ng-change="dc.calculateDiscount()" type="range" name="discount-additional"
                           min="0"
                           max="90"
                           step="5">
                    <span class="royal bold big"> {{dc.discountPercentAdditional}} % </span>
                </div>


                <div class="item range big bold">
                    Tax
                    <input id="taxinput" on-touch="dc.checkTaxInputChange()" ng-model="dc.tax"
                           ng-change="dc.calculateDiscount()" type="range"
                           name="tax" min="0" max="12" step="0.25">
                    <span class="bold big" ng-class="{ 'balanced': !dc.manualLocation, 'royal': dc.manualLocation}"> {{dc.tax | number:2}} % </span>
                </div>


            </div>


        <div class="card">

            <div ng-if="dc.location" class="item item-text-wrap item-stable"
                 ng-click="dc.location = false; dc.manualLocation=true">
                <span class="bold">Tax Location: </span><span class="bold balanced">{{dc.location}}</span>
            </div>

            <div id="manual" ng-show="dc.manualLocation" class="item item-text-wrap item-stable text-center">
                <span id="manual-span" class="button-bar bold">
                    <a class="button button-balanced" ng-click="dc.recalculateTaxByLocationAgain()">Current Location</a>
                    <a class="button button-energized" ng-click="dc.toggleZipCodeLabel()">Zip Code</a>
                </span>
            </div>

            <div ng-show="dc.showZipCodeInputBox && !dc.manualLocation" class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="Enter Zip Code" ng-model="dc.zipCode">
                </label>
                <button class="button button-energized button-small" ng-click="dc.getZipAndTax()">
                    Get Tax
                </button>
            </div>

            <div ng-if="dc.advanced" class="item item-text-wrap item-stable">
                <span class="bold">Subtotal:</span> {{dc.price | currency}}
            </div>

            <div class="item item-text-wrap item-stable">
                <span class="bold">Discount:</span> {{dc.totalDiscount | currency}} &nbsp;&nbsp; <span
                    class="bold">Tax:</span> {{dc.finalTaxAmount | currency}}
            </div>

            <div class="item item-text-wrap item-royal bigx boldx">
                Final Price: {{dc.finalPrice | currency}}
            </div>
        </div>

        <ion-toggle ng-model="dc.advanced" toggle-class="toggle-calm">Advanced Mode</ion-toggle>

    </ion-content>
</ion-pane>