<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab
            title="Tip-Single"
            icon="ion-ios-person"
            ui-sref="tabs.single">
        <ion-nav-view name="single-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab
            title="Tip-Split"
            icon="ion-ios-people"
            ui-sref="tabs.tip" ">
        <ion-nav-view name="tip-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab
            title="Discount"
            icon="ion-pricetags"
            ui-sref="tabs.discount">
        <ion-nav-view name="discount-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>